PORT=8000
MONGO_URI=
DATABASE_URL=
JWT_SECRET=secret_wanderly
JWT_ACCESS_EXPIRATION_MINUTES=7
JWT_REFRESH_EXPIRATION_DAYS=30
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_URL=http://localhost:5173
CLIENT_URL=http://localhost:3000
PRODUCTION_SERVER_URL=
SENTRY_ENABLED=false
SENTRY_DSN=